################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mi/mi/bin/Debug
/mi/.vs/mi/v14
/mi/bin/Debug
/mi/obj/Debug
/mi/mi/obj/Debug
/mi/bin/Release
/mi/obj/Release
/mi/mi.csproj.user
